h1 {
  text-align: center;
}
#productsContainer {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  min-width: 200px;
}

.productCard {
  background: rgb(247, 246, 246);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 5px 5px 17px 4px rgba(196, 184, 184, 0.8);
}

#wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 10% 5% 5%;
}

.cartWrapper {
  border-radius: 10px;
  padding: 10px;
  box-shadow: 5px 5px 17px 4px rgba(196, 184, 184, 0.8);
  padding: 2%;
}

#productForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 5px 5px 17px 4px rgba(196, 184, 184, 0.8);
}

#submitBtn {
  width: 100%;
}

.quantity-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.show-data {
  max-width: 300px;
  border-radius: 10px;
  box-shadow: 10px 10px 32px 0px rgba(0, 0, 0, 0.75);
}
.item_cart {
  max-width: 200px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 10px 10px 32px 0px rgba(0, 0, 0, 0.75);
}

.item_cart img {
  width: 100px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}
