*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 100px 10% 6em 1fr 1fr;
    /* grid-template-columns: repeat(auto-fit, minmax(100px,1fr)); */
    margin-bottom: 50px;
    gap: 10px;
    padding: 0 20%;
  }
  
  .grid-item {
    padding: 30px;
    background: rgb(233, 155, 155);
  }

  .grid-container2 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px,1fr));
    gap: 10px;
  }
  
  @media screen and (min-width: 600px) (max-width: 800px) {
    .grid-item {
        font-size:20px;
        background: rgb(115, 115, 232);
    } 
    .grid-container {
        padding: 0 10%;
        gap: 5px;
      }
      .grid-container {
        padding: 0 10%;
        gap: 5px;
      }
  }

 

@media only screen and (min-width: 400px) and (max-width: 600px) {
   
    .grid-item {
        font-size:24px;
        background: rgb(115, 115, 232);
  }
  .grid-container {
    padding: 0 5%;
    gap: 5px;
  }
}


